---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1600%20Pennsylvania%20Ave,%20Washington,%20DC%20&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1600",
                       "short_name" : "1600",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Pennsylvania Avenue National Historic Site",
                       "short_name" : "Pennsylvania Avenue National Historic Site",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "Pennsylvania Avenue Northwest",
                       "short_name" : "Pennsylvania Ave NW",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Washington",
                       "short_name" : "Washington",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "District of Columbia",
                       "short_name" : "DC",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "20500",
                       "short_name" : "20500",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "1600 Pennsylvania Avenue Northwest, Pennsylvania Avenue National Historic Site, Washington, DC 20500, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 38.89899890,
                       "lng" : -77.03660490
                    },
                    "location_type" : "ROOFTOP",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 38.90034788029150,
                          "lng" : -77.03525591970850
                       },
                       "southwest" : {
                          "lat" : 38.89764991970850,
                          "lng" : -77.03795388029151
                       }
                    }
                 },
                 "partial_match" : true,
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 30 Jul 2013 23:46:24 GMT
recorded_with: VCR 2.5.0
