@import "normalize";

body, html{
  height: 100%;
}

body{
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#map{
  height: 100%;

}

#map__controls{
  height: 100%;
  width: 300px;
  box-sizing: border-box;
  padding: 20px;
  float: left;
  z-index: 10;
}

#map__canvas{
  height: 100%;
}

p {
  margin: 0 0 20px 0;
}

.property__title{
  text-align: center
}

dl {
  min-width: 500px;
  margin: 0 0 8px 0;
}

dt {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  width: 140px;
  text-align: right;
}
dd{
  display: inline-block;
  margin: 0;
}